* {
  box-sizing: border-box;
}

body{
    text-align: center;
    background-color: blue;
    margin: 0;
  }

  #top-screen{
    border: solid black;
  }
  
  #menu-options{
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    background-color: aquamarine;
    border-top: solid black;
    margin-top: 10px;
    padding: 2px 0px;
  }

  .weather-display{
    display: none;
  }

  .fake-link{
    padding: 22px;
  }

  .fake-link:hover{
    background-color: rgb(83, 168, 140);
    cursor: pointer;
  }

  #display-div{
    background: #eee;
    width: 1200px;
    height: 1000px;
    padding: 10px 50px;
    margin: 20px auto;
    border-radius: 15px;
    text-align: left;
    /* display: none; */
  }

  #temp{
    font-size: 100px;
    position: relative;
    bottom: 20px;
  }

  #unit{
    position: relative;
    bottom: 75px;
  }

  #weather-img{
    height: 120px;
    width: 120px;
    margin: 0px 5px;
  }

  .error {
    color: red;
    font-size: 15px;
    font-family: sans-serif;
  }

  #search-bar{
    /* position: relative; */
    display: flex;
    min-width: 100px;
    /* left: 380px; */
  }

  #search-container{
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    width: 500px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }

  #search-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
  }

  #clear-icon {
    position: absolute;
    top: 92px;
    /* top: 10 */
    left: 475px;
    /* left: 475 */
    width: 10px;
    cursor: pointer;
    /* <!-- visibility: hidden; --> */
  }

  /* h1 {
    text-align: left;
    position: relative;
    left: 525px;
  } */